<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link rel="stylesheet" href="{% static "styles/main_title.css" %}">
</head>
<body>
    <div class="row">
        <div class="col-sm-12 col-md-12 main-theme">
            <img class="main-text" src="{% static "source/image/main_text.png" %}" alt="main-text">
            <img class="mascot" src="{% static "source/image/mascot_owl.png" %}" alt="mascot">
            <img class="cloud-1" src="{% static "source/image/cloud1.png" %}" alt="cloud-1">
            <img class="cloud-2" src="{% static "source/image/cloud2.png" %}" alt="cloud-2">
            <img class="cloud-3" src="{% static "source/image/cloud3.png" %}" alt="cloud-3">
            <img class="butterfly" src="{% static "source/image/butterfly.png" %}" alt="butterfly">
        </div>
        <div class="col-sm-12 col-md-12" style="padding: 0">
            <div class="grass"></div>
        </div>
    </div>
</body>
</html>