<!DOCTYPE html>
<html lang="en">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<head>
    <meta charset="UTF-8">
    <title>Správičky</title>

    {% load static %}
    {% load ratings %}

    <link rel="stylesheet" href="{% static "styles/main-styles/homepage.css" %}">
    <link rel="stylesheet" href="{% static "styles/wrapper.css" %}">

    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<body>
    <div id="throbber" style="display:none; min-height:120px;"></div>
    <div id="noty-holder"></div>
    <div id="wrapper">
        {% include "parts/nav_bar.html" %}

        <div class="container-fluid main-container">
            {% include "parts/main_title.html" %}

            <div class="row">
                {% for new in news %}
                <div style="text-align:center;" class="col-sm-12 col-md-12 well">
                    <div id="container">
                        <img class="image" src={{ new.url_address }}>
                        <p style="padding-left:10px;font-size:20px; display: table-cell; height: 150px; vertical-align: middle;">{{ new.notes }}</p>
                        {% ratings new %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include "parts/paging.html" with items=news request=request only %}
        </div>
        {% include "parts/footer.html" %}
    </div>
</body>
</html>
