<!DOCTYPE html>
<html lang="en">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<head>
    <meta charset="UTF-8">
    <title>Prihlásenie</title>

    {% load static %}
    <link rel="stylesheet" href="{% static "styles/main-styles/login.css" %}">
    <link rel="stylesheet" href="{% static "styles/wrapper.css" %}">
    <script src="{% static "scripts/login.js" %}"></script>
</head>
    <body>
        <div class="wrapper" style="padding: 0">
            <nav class="navbar navbar-inverse navbar-fixed-top top-nav" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/detska-kniznica">
                        <img class="logo" src="{% static "source/logo/main_logo.png" %}" alt="LOGO">
                    </a>
                </div>
                <ul class="nav navbar-right top-nav-links">
                   <li id="login">
                        <a href="/detska-kniznica" data-placement="bottom" data-toggle="tooltip" data-original-title="Prihlásenie">
                            SPÄŤ
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="container-fluid main-container">
                <div class="card card-container">
                    <h3 hidden id="loading">Poprosíme chvíľku strpenia.</h3>
                    <div hidden class="loader"></div>
                    <img id="main-img" src="{% static "source/image/prihlasenie.png" %}"/>
                    <form action="/detska-kniznica/login/logUser" method="post" novalidate>
                        {% csrf_token %}
                        <div id="name">
                            {{ LogUser.username }}
                        </div>
                        <div id="password">
                            {{ LogUser.password }}
                            {% if LogUser.non_field_errors %}
                                {% for error in LogUser.non_field_errors %}
                                    <strong style="color: #b91436">{{ error }}</strong>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div hidden>
                            {{ LogUser.pic1 }}
                        </div>
                        <div id="menu_camera">
                            <button class="btn btn-lg btn-primary btn-block btn-signin blue-background white" type="button" id="btn_camera">Prihlásenie snímkou tváre</button>
                        </div>
                        <div hidden id="div_video">
                            <video id="video" width="100%" autoplay></video>
                        </div>
                        <div hidden id="menu_login_camera">
                            <button class="btn btn-lg btn-primary btn-block btn-signin blue-background white" type="submit" id="btn_login_camera" name="btn_login_camera">Snímka tváre</button>
                        </div>
                        <div id="menu_login">
                            <button class="btn btn-lg btn-primary btn-block btn-signin blue-background white" type="submit" id="btn_login" name="btn_login">Prihlásenie</button>
                        </div>
                        <canvas hidden id="canvas" width="640" height="480"></canvas>
                    </form>
                </div>
            </div>
            {% include "parts/footer.html" %}
        </div>
    </body>
</html>
