.song-title{
    display: block;
    background-color: rgb(194, 0, 31);
    margin: 10px 60px;
    border-radius: 30px;
    border: 5px solid #87000F;
}
.song-title h3{
    font-family: ChildFont, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.song-notes{
    display: block;
    background-color: rgb(194, 0, 31);
    margin: 10px 60px;
    border-radius: 0;
    border: 2px solid #87000F;
    font-size: 15px;
}
.song{
    width: 80%;
    border-radius: 0;
    border: 5px solid #87000F;
}