@font-face {
  font-family: "ChildFont";
  src: url(/static/source/font/KGPrimaryWhimsy.ttf) format("truetype");
}

.side-menu-text {
    font-family: ChildFont, sans-serif;
    padding: 20px;
    display: block;
    color: inherit;
    font-size: 130%;
}

.side-menu-text:hover {
  background-color: #DFEDE3;
}

.focus {
    outline: none;
    background-color: #AB1140;
}
